* {
  margin: 0;
  padding: 0;
}

.about {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #1a1a1a;
  height: 100vh;
}

.about > img {
  border-radius: 30px;
}

.about aside > h1 {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  margin-bottom: 30px;
  color: #9e9ea0;
}

.my-description {
  font-family: 'Caveat', cursive;
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  font-size: 30px;
  margin-bottom: 40px;
  color: #f3ecec;
}
