@use "src/css/base";

$background: #26495c;
$orange-base: #c66b3d;
$text-color: #e9e9e9;

#fifteen-puzzle {
  background-color: $background;
}

#fifteen-puzzle-container {
  @include base.section($background)
}

#fifteen-puzzle img {
  @include base.project-img()
}

.fifteen-puzzle-title {
  @include base.project-title($orange-base);
}

.fifteen-puzzle-description {
  @include base.project-description($text-color)
}

#fifteen-puzzle h2 {
  @include base.languages-title($orange-base)
}

#fifteen-puzzle .languages-container  p {
  @include base.languages($text-color)
}

#fifteen-puzzle a {
  @include base.buttons($orange-base, $text-color);

  &:hover { 
    @include base.buttons-hover($background, $orange-base)
  }
}
