@use "src/css/base";

$background: #f0f8ff;
$green-base: #32a791;
$text-color: #313131;

.trybewarts {
  @include base.section($background);
}

.trybewarts-title {
  @include base.project-title($green-base);
}

.trybewarts-description {
  @include base.project-description($text-color)
}

.trybewarts h2 {
  @include base.languages-title($green-base)
}

.trybewarts .languages-container p {
  @include base.languages($text-color)
}

.trybewarts a {
  @include base.buttons($green-base, $background);

  &:hover { 
    @include base.buttons-hover($background, $green-base)
  }
}
