* {
  margin: 0;
  padding: 0;
}

.trybewarts {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: aliceblue;
  height: 100vh;
}

.trybewarts-title {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-size: 70px;
  margin-bottom: 30px;
  color: rgb(50, 167, 145);
}

.trybewarts-description {
  font-family: 'Caveat', cursive;
  display: flex;
  width: 450px;
  font-size: 25px;
  margin-bottom: 40px;
}

.trybewarts h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  margin-bottom: 15px;
  color: rgb(50, 167, 145);
}

.trybewarts-languages {
  display: flex;
  margin-bottom: 10px;
}

.trybewarts-languages p {
  font-family: 'Caveat', cursive;
  font-size: 25px;
  margin-right: 50px;
  margin-bottom: 30px;
  color: black;
}

.trybewarts button {
  font-family: 'Josefin Sans', sans-serif;
  border: none;
  color: aliceblue;
  cursor: pointer;
  background-color: rgb(50, 167, 145);
  border-radius: 8px;
  font-weight: 600;
  height: 50px;
  width: 200px;
  font-size: 20px;
  transition: 0.7s;
}

.trybewarts button:hover {
  background-color: aliceblue;
  border: 1px solid rgb(50, 167, 145);
  color: rgb(50, 167, 145);
  transition: 0.6s;
}